@import '~node_modules/modern-normalize/modern-normalize.css';

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: $main-font;
  color: $main-txt-color;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

button {
  background: none;
  border: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
