$main-font: 'Roboto', sans-serif;
$alt-font: 'Poppins', sans-serif;
$quote-mark-font: 'Varela', sans-serif;

$main-txt-color: #212121;
$alt-txt-color: #646464;
$main-bg-color: #fff;
$alt-bg-color: #f8f8f8;
$main-accent-color: #37806b;
$alt-accent-color: #caa892;
$placeholder-bg-color: #eeeeee;
$img-outline-color: #b0855b;
