<section class="about" id="about">
    <div class="container">
        <div class="about__wrapper">
            <img class="about__image" srcset="images/room.webp 1x, images/room@2x.webp 2x" src="images/room.webp"
                alt="Modern living room">
            <h3 class="subheading">About us</h3>
            <h2 class="about__title">Interioris the will
                of an epoch mextreo</h2>
            <p class="about__text">
                There are many variations of passages of Lorem Ipsum available,
                but the majority have suffered alteration in some form injected
                humour, or randomised words which don't look even slightly
                believable.If you are going to use a passage of Lorem Ipsum,
                sure there isn't anything embarrassing hidden the middleof text.
                All the Lorem Ipsum generators on the Internettend to repeat
                predefined chunks as necessary,making this the first true
                generator on the Internet.
            </p>
            <a href="#" class="button button_warped">Learn more</a>
        </div>
        <div class="about__wrapper">
            <p class="about__number"></p>
            <h2 class="about__title">Years of successful
                working
                the market</h2>
            <a href="#" class="button button_warped">Read more</a>
            <img class="about__image" srcset="images/shelves.webp 1x, images/shelves@2x.webp 2x"
                src="images/shelves.webp" alt="Shelves">
        </div>
    </div>
</section>