<footer class="footer" id="footer">
    <div class="container">
        <div class="footer__wrapper">
            <div class="footer__logo-wrapper">
                <a href="./" class="logo footer__logo">
                    <img src="images/logo.svg" alt="logo">
                </a>
                <p class="footer__slogan">But i must explain to you all this mistaken idea of dencouncing pleasure.</p>
            </div>
            <nav class="footer__nav">
                <div class="footer__nav-group">
                    <h3 class="footer__group-title">Quick links</h3>
                    <ul class="footer__nav-list">
                        <li class="footer__nav-item">
                            <a class="footer__nav-link" href="#">About our company</a>
                        </li>
                        <li class="footer__nav-item">
                            <a class="footer__nav-link" href="#">Services we provide</a>
                        </li>
                        <li class="footer__nav-item">
                            <a class="footer__nav-link" href="#">Career & opportunities</a>
                        </li>
                        <li class="footer__nav-item">
                            <a class="footer__nav-link" href="#">Privacy policy</a>
                        </li>
                        <li class="footer__nav-item">
                            <a class="footer__nav-link" href="#">Contact us</a>
                        </li>
                    </ul>
                </div>
                <div class="footer__nav-group">
                    <h3 class="footer__group-title">Company</h3>
                    <ul class="footer__nav-list">
                        <li class="footer__nav-item">
                            <a class="footer__nav-link" href="#">About company</a>
                        </li>
                        <li class="footer__nav-item">
                            <a class="footer__nav-link" href="#">Our testimonials</a>
                        </li>
                        <li class="footer__nav-item">
                            <a class="footer__nav-link" href="#">Latest news</a>
                        </li>
                        <li class="footer__nav-item">
                            <a class="footer__nav-link" href="#">Our mission</a>
                        </li>
                        <li class="footer__nav-item">
                            <a class="footer__nav-link" href="#">Get a free quote</a>
                        </li>
                    </ul>
                </div>
                <div class="footer__nav-group">
                    <h3 class="footer__group-title">Contact us</h3>
                    <ul class="footer__nav-list">
                        <li class="footer__nav-item">
                            <a class="footer__nav-link"
                                href="https://www.google.com/maps/search/Sagrada+Familia,+Herba+Street+Front+USA/@50.4704821,30.6218849,14z?authuser=0&entry=ttu">Sagrada
                                Familia, Herba Street Front USA</a>
                        </li>
                        <li class="footer__nav-item">
                            <a class="footer__nav-link" href="mailto:brandoxide@gmail.com">brandoxide@gmail.com</a>
                        </li>
                        <li class="footer__nav-item">
                            <a class="footer__nav-link" href="tel:002-568423591">002-568423591</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="footer__socials">
                <ul class="footer__socials-list">
                    <li class="footer__socials-item">
                        <a class="footer__socials-link" href="https://www.facebook.com/" target="_blank"
                            aria-label="facebook">
                            <img src="images/facebook.svg" alt="Facebook">
                        </a>
                    </li>
                    <li class="footer__socials-item">
                        <a class="footer__socials-link" href="https://twitter.com/" target="_blank"
                            aria-label="twitter">
                            <img src="images/twitter.svg" alt="Twitter">
                        </a>
                    </li>
                    <li class="footer__socials-item">
                        <a class="footer__socials-link" href="https://www.instagram.com/" target="_blank"
                            aria-label="instagram">
                            <img src="images/instagram.svg" alt="Instagram">
                        </a>
                    </li>
                    <li class="footer__socials-item">
                        <a class="footer__socials-link" href="https://www.linkedin.com/" target="_blank"
                            aria-label="linkedin">
                            <img src="images/linkedin.svg" alt="Linkedin">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <p class="footer__copyright">Copyright @ 2020 Brandoxide. All right reserved.</p>
    </div>
</footer>