<section class="hero" id="hero">
    <div class="container">
        <div class="hero__text-wrapper">
            <h3 class="subheading">Modern interior</h3>
            <h1 class="hero__title">Create your interior design.</h1>
            <p class="hero__text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                veniam, quis nostrud exercitation.
            </p>
            <a href="#footer" class="button hero__button">Contact</a>
        </div>
        <div class="hero__image-wrapper">
            <img class="hero__image" srcset="images/hero.webp 1x, images/hero@2x.webp 2x" src="images/hero.webp"
                width="715" height="613" alt="Modern living room">
        </div>
    </div>
</section>