<div class="loader">
    <div class="loader__title-wrapper">
        <p class="loader__title-part loader__title-part_left">DEC</p>
        <p class="loader__title-part loader__title-part_right">BASE</p>
    </div>
    <div class="loader__text-wrapper">
        <p class="loader__text loader__text_cursive">
            Dream. Design. Dwell.
        </p>
        <p class="loader__text">
            Crafting Interiors, One Pixel at a Time.
        </p>
        <p class="loader__text">
            Architecture That Speaks, Interiors That Inspire.
        </p>
    </div>
</div>