<div class="backdrop is-hidden">
    <div class="modal modal-idle is-hidden">
        <p class="modal__text">Are you still there?</p>
        <button class="button modal__button" id="yesBtn" type="button">Yes</button>
    </div>
    <div class="modal modal-discount is-hidden">
        <p class="modal__text modal__text_slim" id="discount-text">Welcome Sigma! Today users who entered 'Sigma' get
            120% discount.";</p>
        <button class="button modal__button" id="closeBtn" type="button">Thanks!</button>
    </div>
    <div class="confetti is-hidden">
        <div class="confetti-piece"></div>
        <div class="confetti-piece"></div>
        <div class="confetti-piece"></div>
        <div class="confetti-piece"></div>
        <div class="confetti-piece"></div>
        <div class="confetti-piece"></div>
        <div class="confetti-piece"></div>
        <div class="confetti-piece"></div>
        <div class="confetti-piece"></div>
        <div class="confetti-piece"></div>
        <div class="confetti-piece"></div>
        <div class="confetti-piece"></div>
        <div class="confetti-piece"></div>
    </div>
</div>