<section class="news" id="news">
    <div class="container">
        <h3 class="subheading">Latest news</h3>
        <h2 class="section-heading">From our blog</h2>
        <div class="news__wrapper">
            <img class="news__image" srcset="images/dresser.webp 1x, images/dresser@2x.webp 2x"
                src="images/dresser.webp" alt="Dresser">
            <p class="news__title">2020 Interior design trends</p>
            <p class="news__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod incididunt ut
                labore et dolore magna aliqua.</p>
            <a href="#" class="button button_warped">Continue reading...</a>
        </div>
        <div class="news__wrapper">
            <img class="news__image" srcset="images/living-room.webp 1x, images/living-room@2x.webp 2x"
                src="images/living-room.webp" alt="Living room">
            <p class="news__title">28 Notable product at ARC interior design</p>
            <p class="news__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod incididunt ut
                labore et dolore magna aliqua.</p>
            <a href="#" class="button button_warped">Continue reading...</a>
        </div>
    </div>
</section>