<section class="service" id="service">
    <div class="container">
        <h3 class="subheading">What we do</h3>
        <h2 class="section-heading">Our service</h2>
        <ul class="service__button-list">
            <li class="service__button-item"><button class="service__button" id="all" type="button">All</button></li>
            <li class="service__button-item"><button class="service__button" id="interior" type="button">Interior
                    design</button></li>
            <li class="service__button-item"><button class="service__button" id="architecture"
                    type="button">Architecture</button>
            </li>
            <li class="service__button-item"><button class="service__button" id="planning"
                    type="button">Planning</button></li>
        </ul>
        <div class="service__posts-wrapper">

        </div>
    </div>
</section>