<section class="subscription" id="subscription">
    <div class="container">
        <h2 class="section-heading container__section-heading">Don't forget to sign up</h2>
        <p class="subscription__text">Find out early about all upcoming promotions and new product releases with our
            newsletter.</p>
        <form action="submit">
            <div class="subscription__wrapper">
                <input type="text" name="name" id="name" placeholder="Enter your name...">
                <input type="text" name="surname" id="surname" placeholder="Enter your surname...">
            </div>
            <input type="email" name="email" id="email" placeholder="Enter your email...">
            <button type="submit" class="button button_warped">Subscribe</button>
        </form>
    </div>
</section>