<section class="subscription" id="subscription">
    <div class="container">
        <div class="subscription__heading-wrapper">
            <h2 class="section-heading subscription__section-heading">Don't forget to sign up</h2>
            <p class="subscription__text">Find out early about all upcoming promotions and new product releases with our
                newsletter.</p>
        </div>
        <form class="subscription__form" action="submit">
            <div class="subscription__wrapper">
                <input class="subscription__input" type="text" name="name" id="name" placeholder="Enter your name...">
                <input class="subscription__input" type="text" name="surname" id="surname"
                    placeholder="Enter your surname...">
            </div>
            <input class="subscription__input subscription__input_wide" type="email" name="email" id="email"
                placeholder="Enter your email...">
            <button type="submit" class="button subscription__button">Subscribe</button>
        </form>
    </div>
</section>