<section class="testimonials" id="testimonials">
    <div class="container">
        <h3 class="subheading subheading_slim">Testimonials</h3>
        <h2 class="section-heading testimonials__section-heading">Here is what clients say about us</h2>
        <div class="testimonials__button-wrapper">
            <button class="testimonials__button testimonials__button_left">&lt;</button>
            <button class="testimonials__button testimonials__button_right">&gt;</button>
        </div>
        <div class="testimonials__wrapper">
            <ul class="testimonials__list">
                <li class="testimonials__item">
                    <img class="testimonials__image" src="images/Louis_Saville.jpg" alt="avatar">
                    <div class="testimonials__name-wrapper">
                        <p class="testimonials__name">Louis Saville</p>
                        <p class="testimonials__position">/CEO at Google inc</p>
                    </div>
                    <p class="testimonials__text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing
                        elit, sed do eiusmod tempor incididunt ut labore
                        et dolore magna aliqua.
                    </p>
                    <p class="testimonials__quotation-mark">"</p>
                </li>
                <li class="testimonials__item">
                    <img class="testimonials__image" src="images/Rekha_Varadwaz.jpg" alt="avatar">
                    <div class="testimonials__name-wrapper">
                        <p class="testimonials__name">Rekha Varadwaz</p>
                        <p class="testimonials__position">/Manager at Nike inc</p>
                    </div>
                    <p class="testimonials__text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing
                        elit, sed do eiusmod tempor incididunt ut labore
                        et dolore magna aliqua.
                    </p>
                    <p class="testimonials__quotation-mark">"</p>
                </li>
                <li class="testimonials__item">
                    <img class="testimonials__image" src="images/Ruslan_Babaiev.jpg" alt="avatar">
                    <div class="testimonials__name-wrapper">
                        <p class="testimonials__name">Ruslan Babaiev</p>
                        <p class="testimonials__position">/Junior dev at Sigma Software</p>
                    </div>
                    <p class="testimonials__text">
                        You guys are doing some exciting stuff. Keep it up!
                    </p>
                    <p class="testimonials__quotation-mark">"</p>
                </li>
                <li class="testimonials__item">
                    <img class="testimonials__image" src="images/Elon_Musk.jpg" alt="avatar">
                    <div class="testimonials__name-wrapper">
                        <p class="testimonials__name">Elon Musk</p>
                        <p class="testimonials__position">/CEO at SpaceX</p>
                    </div>
                    <p class="testimonials__text">
                        If only you could build a rocket to take me all the way to Mars...
                    </p>
                    <p class="testimonials__quotation-mark">"</p>
                </li>
                <li class="testimonials__item">
                    <img class="testimonials__image" src="images/John_Wick.jpg" alt="avatar">
                    <div class="testimonials__name-wrapper">
                        <p class="testimonials__name">John Wick</p>
                        <p class="testimonials__position">/Excommunicado at *redacted*</p>
                    </div>
                    <p class="testimonials__text">
                        I need more guns.
                    </p>
                    <p class="testimonials__quotation-mark">"</p>
                </li>
                <li class="testimonials__item">
                    <img class="testimonials__image" src="images/Gordon_Freeman.jpg" alt="avatar">
                    <div class="testimonials__name-wrapper">
                        <p class="testimonials__name">Gordon Freeman</p>
                        <p class="testimonials__position">/PhD at Black Mesa</p>
                    </div>
                    <p class="testimonials__text">
                        *silence*
                    </p>
                    <p class="testimonials__quotation-mark">"</p>
                </li>
            </ul>
        </div>
    </div>
</section>