.footer {
  padding-top: 90px;
  background-color: $alt-bg-color;
}

.footer__wrapper {
  display: flex;
}

.footer__logo-wrapper {
  max-width: 350px;
}

.footer__slogan {
  margin-top: 15px;
  font-size: 18px;
  line-height: 1.55;
  color: $alt-txt-color;
}

.footer__nav {
  display: flex;
  margin-left: 80px;
  gap: 80px;
}

.footer__nav-group {
  &:nth-child(3) {
    max-width: 200px;
  }
}

.footer__group-title {
  font-size: 24px;
  font-weight: 600;
  text-transform: capitalize;
}

.footer__nav-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 35px;
}

.footer__nav-link {
  font-size: 18px;
  text-transform: capitalize;
  color: $alt-txt-color;
  span {
    display: inline-block;
    margin-top: 15px;
  }
}

.footer__socials {
  margin-left: 80px;
  .footer__group-title {
    text-align: center;
  }
}

.footer__socials-list {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.footer__socials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-color: $socials-bg-color;
  transition: background-color $transition;
  &:hover,
  &:focus {
    background-color: $main-accent-color;
  }
}

.footer__copyright {
  margin-top: 90px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  border-top: 1px solid $separator-line-color;
}
