.news {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: $alt-bg-color;
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}

.news__heading-wrapper {
  text-align: center;
}

.news__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 175px;
  margin-top: 80px;
  padding-bottom: 280px;
}

.news__image-wrapper {
  position: relative;
  z-index: 2;
  &::after {
    content: '';
    position: absolute;
    right: -40px;
    bottom: -20px;
    display: block;
    max-width: 100%;
    width: 554px;
    height: 100%;
    border: 2px solid $img-outline-color;
    border-radius: 140px 0px;
    z-index: -1;
  }
}

.news__piece {
  position: relative;
  transition: all 2500ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100px);
  opacity: 0;
  &:hover {
    .news__image {
      transform: scale(1.05);
    }
  }
}

#news.active .news__piece {
  transform: translateY(0);
  opacity: 1;
}

.news__image {
  width: 554px;
  height: 387px;
  border-radius: 100px 0px;
  transition: transform $transition;
}

.news__text-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(0%);
  transition: all $transition;
}

.news__piece:hover {
  .news__text-wrapper {
    transform: translateY(120%);
  }
}
.news__title {
  font-size: 28px;
  font-weight: 600;
}

.news__text {
  margin-top: 20px;
  color: $alt-txt-color;
  font-size: 18px;
  line-height: 1.55;
}

.news__button {
  font-weight: 400;
  margin-top: 45px;
}
