.results {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: $alt-bg-color;
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 45px;
    padding-bottom: 45px;
  }
}

.results__section-heading {
  max-width: 817px;
  line-height: 1.25;
  text-align: center;
}

.results__list {
  display: flex;
  gap: 235px;
  margin-top: 90px;
  text-align: center;
}

.results__item {
  position: relative;
  width: 185px;
  height: 182px;
  padding: 45px 50px;
  background-color: $main-bg-color;
  border-radius: 40px 0px;
  box-shadow: 0px 13px 16px 0px rgba(0, 0, 0, 0.1);
  &:nth-child(1) {
    position: relative;
    &::after {
      content: '';
      display: block;
      width: 300px;
      height: 96px;
      position: absolute;
      bottom: -5px;
      right: -310px;
      background-image: url('../images/connector.svg');
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
  &:nth-child(2) {
    position: relative;
    &::after {
      content: '';
      display: block;
      width: 300px;
      height: 96px;
      position: absolute;
      bottom: 95px;
      right: -225px;
      transform: scaleX(-1);
      background-image: url('../images/connector.svg');
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
  &:nth-child(3) {
    position: relative;
    &::after {
      content: '';
      display: block;
      width: 300px;
      height: 96px;
      position: absolute;
      bottom: -5px;
      right: -310px;
      background-image: url('../images/connector.svg');
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
  &:nth-child(2n) {
    margin-top: 100px;
  }
}

.results__number {
  font-size: 50px;
  font-weight: 700;
  line-height: 1.2;
}

.results__name {
  color: $alt-txt-color;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.66;
}

.results__connector {
  max-width: 300px;
  height: 96px;
}
