.service {
  .container {
    padding-top: 90px;
  }
}

.service__button-list {
  display: flex;
  gap: 80px;
  margin-top: 30px;
}

.service__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 206px;
  height: 46px;
  padding: 10px 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: $main-bg-color;
  background-color: $main-accent-color;
  border: 5px solid $main-accent-color;
  border-radius: 20px;
  cursor: pointer;
  transition: color $transition, background-color $transition;
  &:hover,
  &:focus {
    color: $main-accent-color;
    background-color: $main-bg-color;
  }
}
