.testimonials {
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 90px;
    padding-bottom: 90px;
  }
}

.testimonials__section-heading {
  text-transform: none;
}

.testimonials__button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  align-self: flex-end;
}

.testimonials__button {
  font-family: $alt-font;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  &:first-child {
    color: $alt-txt-color;
    background-color: $alt-bg-color;
  }
  &:last-child {
    color: $main-bg-color;
    background-color: $main-accent-color;
  }
}

.swiper {
  padding-top: 90px;
  padding-bottom: 90px;
  padding-left: 60px;
  padding-right: 30px;
  width: 1440px;
}

.testimonials__item {
  position: relative;
  width: 570px;
  height: 226px;
  padding-top: 40px;
  padding-bottom: 60px;
  padding-right: 40px;
  padding-left: 100px;
  border-radius: 70px 0px;
  box-shadow: 7px 7px 30px 5px rgba(66, 96, 84, 0.15);
}

.testimonials__image {
  position: absolute;
  top: 40px;
  left: -60px;
  width: 130px;
  height: 140px;
  border-radius: 35px 0px;
}

.testimonials__name-wrapper {
  display: flex;
  align-items: baseline;
}

.testimonials__name {
  font-size: 24px;
  font-weight: 700;
}

.testimonials__position {
  margin-left: 5px;
  color: $alt-txt-color;
}

.testimonials__text {
  margin-top: 10px;
  color: $alt-txt-color;
  font-size: 18px;
  line-height: 1.55;
}

.testimonials__quotation-mark {
  position: absolute;
  top: 15px;
  right: 30px;
  color: $img-outline-color;
  font-family: $quote-mark-font;
  font-size: 96px;
  font-weight: 700;
}
